main#main-screen-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    & .container-wrapper {
        width: 100%;
        margin-top: 38px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: start;
        text-align: start;
        align-items: center;
    }

    & article {
        width: 100%;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        gap: 2.5rem;

        &#intro {
            padding-top: 100px;
            background-image: url(../../assets/img/bg_img_1920.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.bg-darkblue {
            background-color: var(--dark-blue-bg);
            color: #fff;
        }

        &.bg-white {
            background-color: #fff;
            color: var(--dark-blue-text);
        }

        & img {
            max-width: 200px;
            margin: auto;
        }
    }

    & .title {

        &, & span {
            font-size: 3rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-align: start;

            &.title-highlight {
                color: var(--yellow-text);
            }
    
            &.title-smaller {
                font-size: 2.2rem;
                font-weight: 600;
            }
        }
    }

    & .description {
        vertical-align: auto;
        color: #FFF;
        font-size: 9.7px;
        font-style: initial;
        font-weight: 500;
        line-height: 1.5;

        text-align: start;
    }

    & .row {
        content: "";
        display: block;
        border-bottom: 5px solid #fff;
        width: 70px;
        margin-left: 1px;
        align-items: flex-start;
    }

    & .button {
        padding: 6px 13px;
        border: none;
        cursor: pointer;
        flex-shrink: 0;
        border-radius: 2rem;
        background: #FFF;
        color: var(--dark-blue-text);
        font-size: 18.824px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    @media all and (max-width: 768px) {
        #intro {
            background-image: url('../../assets/img/bg_img_390.png');
            background-repeat: no-repeat;
        }
    }
}