:root{
  --nav-height: 53px;
}
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.icon {

  margin-left: 10px;
}

.logo {
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
  gap: 7px;
  padding-top: 8px;

  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #1B3560;


  height: var(--nav-height);
  position: fixed;
  z-index: 2;
  width: 100%;
  border-radius: 0px 0px 22px 22px;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-list li {
  padding-top: 4px;
  font-size: 14px;
  letter-spacing: 0;
  /*estava 3px*/
  margin-left: 24px;
  white-space: nowrap;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .user-icon-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease-in-out; /* Adicionado para suavizar a transição */
  }

  .nav-list {
    position: absolute;
    top: calc(var(--nav-height));
    right: 0;
    width: 50vw;
    height: 100vh;
    background: rgba(217, 217, 217, 0.80);
    flex-direction: column;
    align-items: center;
    gap: -400px;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    margin-top: -50px;
    margin-bottom: -195px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

  }

  .nav-list li a{
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 50;
    line-height: -100px;
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .user-icon-wrapper.active {
    /* Ajuste o estilo conforme necessário para a posição do ícone quando o menu está aberto */
    left: calc(50% - 25px); /* Ou o valor que você achar apropriado */
    top: 15px; /* Ou o valor que você achar apropriado */
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .nav-list.active li {
    opacity: 1;
  }

  .icon{
    margin-top: -40px;
    background-color: #1B3560;
    border-radius: 50%;
    padding: 10px;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .custom-modal {
    border-radius: 31px !important;
    background: #D9D9D9 !important;
    width: 309px !important;
    height: 191px !important;
    flex-shrink: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 34px !important;
    height: 182px !important;
    border: none !important;

  }
  
  .button-modal {
    margin-top: 27px !important;
    width: 200px !important;
    height: 32px !important;
    flex-shrink: 0 !important;
    border-radius: 31px !important;
    background: #1B3560 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    color: #fff !important;
    
    
    margin-bottom: 5.5px !important;
    padding: 18px !important;

    font-family: Montserrat  !important;
    font-size: 20.324px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    line-height: normal !important;
  }
  
  .title-modal {
    color: #1B3560 !important;
    font-family: Montserrat !important;
    font-size: 33.591px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    line-height: normal !important;
    margin-bottom: -10px !important;
  }

  .possuiconta{
    margin-top: 1.2px !important;
    
    font-family: Montserrat !important;
    font-size: 11.472px !important;
    font-style: normal !important;
   
  }

  .entrar{
    color: #000 !important;
    font-family: Montserrat !important;
    font-size: 11.472px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    cursor: pointer;
  }


  .nav-list-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }

