header{
    width: 100%;
    height: 68px;
    flex-shrink: 0;
    border-radius: 0px 0px 22px 22px;
    background: #1B3560;
    padding: 5px 10px 11px;
    
    display: flex;
    justify-content: space-between;









    position: fixed;
    z-index: 2;
}

.logo-icon{
    margin-top: 10px;
    margin-left: -8px;
    display: flex;
    justify-content: left;
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    align-items: center;
}

.sla-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat;
    
    height: 100vh;
    margin-top: 200px;
}

.nav-list {
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media  (max-width: 999px){
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color:  rgba(217, 217, 217, 0.80);;
    }    
}