:root {
  /* 1 rem = 10px */
  font-size: 62.5%;
  --dark-blue-text: #032677;
  --dark-blue-bg: #1B3560;
  --yellow-text: #FAD21D;
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

button{
  border: none;
  cursor: pointer;
}
